[user]
	name = Justin Mayhew
	email = mayhew@live.ca
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = auto
[alias]
	amend = commit --amend
	b = branch
	co = checkout
	d = diff
	dc = diff --cached
	l = log --graph --decorate --abbrev-commit --pretty=oneline
	st = status
